
.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: #1bac91;
  font-size: 26px;
  display: inline-block;
}

.testimonials .testimonial-item .quote-icon-left {
  position: relative;
  left: -5px;
}

.testimonials .testimonial-item .quote-icon-right {
  position: relative;
  right: -5px;
  top: 10px;
  display: inline-block; 
  float: none;
  vertical-align: bottom; 
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 15px 0 15px;
  padding: 20px 20px 60px 20px;
  background: #e7f6f4;
  position: relative;
  border-radius: 6px;
  z-index: 1;
  display: block; 
}
